:root {
  --primary-color: #006F9B;
  --primary-color-darker: #004966;
  --primary-color-lighter: #00b7ff;
  --primary-color-light: #99e2ff;
  --primary-color-lightest: #ccf1ff;
  --disabled-color: rgba(113, 113, 113, 0.66);
}

body {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}