html {
  --primary-color: rgba(255, 251, 0, 0.74);
  --primary-color-darker: rgba(140, 140, 0, 0.8);
  --disabled-color: rgba(113, 113, 113, 0.66);
}

#video-player {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

#canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

#start-button {
  border-radius: 12px;
  padding: 7px 10px;
  margin-top: 1px;
  font-weight: bold;
  margin-left: 8px;
  margin-right: 8px;
  width: 100px;
  height: 40px;
  font-size: large;
  color: black;

  &:enabled {
    background-color: var(--primary-color);
    border: none;
    border-bottom: 4px solid var(--primary-color-darker); 
    border-right: 3px solid var(--primary-color-darker); 
    &:hover {
      transform: translateY(-1px);
      border-bottom: 4px solid var(--primary-color-darker); 
    }
  
    &:active {
      transform: translateY(2px) translateX(2px);
      border: none;
      margin-bottom: 3px;
    }
  }

  &:disabled {
    background-color: var(--disabled-color);
  }
}

#done-display {
  display: none;
}
